<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.th.digio.chatapp.demo">

    <uses-sdk tools:overrideLibrary="com.stfalcon.multiimageview" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- min 16 -->
    <application
        android:name="th.co.digio.chatapp.demo.main.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name="th.co.digio.chatapp.demo.main.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="th.co.digio.chatapp.demo.main.LoginActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="th.co.digio.chatapp.demo.main.MainActivity"
            android:label="@string/select_channel_type" />
        <activity
            android:name="th.co.digio.chatapp.demo.main.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="th.co.digio.chatapp.demo.main.BlockedMembersListActivity"
            android:label="@string/blocked_members_list" />
        <activity android:name="th.co.digio.chatapp.demo.utils.PhotoViewerActivity" />
        <activity
            android:name="th.co.digio.chatapp.demo.utils.MediaPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="th.co.digio.chatapp.demo.openchannel.CreateOpenChannelActivity"
            android:label="@string/create_open_channel" />
        <activity
            android:name="th.co.digio.chatapp.demo.groupchannel.InviteMemberActivity"
            android:label="@string/invite_member" />
        <activity
            android:name="th.co.digio.chatapp.demo.groupchannel.MemberListActivity"
            android:label="@string/member_list" />
        <activity
            android:name="th.co.digio.chatapp.demo.groupchannel.CreateGroupChannelActivity"
            android:label="@string/create_group_channel" />
        <activity
            android:name="th.co.digio.chatapp.demo.openchannel.ParticipantListActivity"
            android:label="@string/participant_list" />
        <activity android:name="th.co.digio.chatapp.demo.openchannel.OpenChannelActivity" />
        <activity android:name="th.co.digio.chatapp.demo.groupchannel.GroupChannelActivity" />
        <activity android:name="th.co.digio.chatapp.demo.privatechannel.PrivateChannelActivity" />
        <activity android:name="th.co.digio.chatapp.demo.privatechannel.CreatePrivateChannelActivity" />

        <service android:name="th.co.digio.chatapp.demo.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="th.co.digio.chatapp.demo.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="th.co.digio.chatapp.demo.main.RegisterActivity" />
    </application>

</manifest>